@font-face {
    font-family: "flexslider-icon";
    src: url("../fonts/flexslider-icon/flexslider-icon.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/flexslider-icon/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon/flexslider-icon.svg#flexslider-icon") format("svg");

    /* Legacy iOS */
}

@font-face {
    font-family: "HelveticaNeueLTPro-Lt";
    src: url("../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.eot");
    src: url("../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-Lt/HelveticaNeueLTPro-Lt.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTPro-Th";
    src: url("../fonts/HelveticaNeueLTPro-Th/HelveticaNeueLTPro-Th.eot");
    src: url("../fonts/HelveticaNeueLTPro-Th/HelveticaNeueLTPro-Th.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-Th/HelveticaNeueLTPro-Th.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-Th/HelveticaNeueLTPro-Th.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-Th/HelveticaNeueLTPro-Th.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTPro-Roman";
    src: url("../fonts/HelveticaNeueLTPro-Roman/HelveticaNeueLTPro-Roman.eot");
    src: url("../fonts/HelveticaNeueLTPro-Roman/HelveticaNeueLTPro-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-Roman/HelveticaNeueLTPro-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-Roman/HelveticaNeueLTPro-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-Roman/HelveticaNeueLTPro-Roman.otf") format("opentype");
}