@font-face {
    font-family: 'arial-bold';
    src: url("../fonts/arialbd/arialbd.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/arialbd/arialbd.eot?#iefix") format("embedded-opentype"), url("../fonts/arialbd/arialbd.woff") format("woff"), url("../fonts/arialbd/arialbd.ttf") format("truetype"), url("../fonts/arialbd/arialbd.svg#Arial-BoldMT") format("svg"), url("../fonts/arialbd/arialbd.otf") format("opentype");

    /* Legacy iOS */
}

@font-face {
    font-family: 'arial';
    src: url("../fonts/arial/arial.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/arial/arial.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arial.woff") format("woff"), url("../fonts/arial/arial.ttf") format("truetype"), url("../fonts/arial/arial.svg#ArialMT") format("svg"), url("../fonts/arial/arial.otf") format("opentype");

    /* Legacy iOS */
}

@font-face {
    font-family: 'Captcha-code';
    src: url("../fonts/Captcha-code/Moms_typewriter.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Captcha-code/Moms_typewriter.eot?#iefix") format("embedded-opentype"), url("../fonts/Captcha-code/Moms_typewriter.woff") format("woff"), url("../fonts/Captcha-code/Moms_typewriter.ttf") format("truetype"), url("../fonts/Captcha-code/Moms_typewriter.svg#momstypewriterregular") format("svg");

    /* Legacy iOS */
}

@font-face {
    font-family: "flexslider-icon";
    src: url("../fonts/flexslider-icon/flexslider-icon.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/flexslider-icon/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon/flexslider-icon.svg#flexslider-icon") format("svg");

    /* Legacy iOS */
}

@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight/HelveticaNeue-UltraLight.eot");
    src: url("../fonts/HelveticaNeue-UltraLight/HelveticaNeue-UltraLight.otf") format("opentype");
    src: url("../fonts/HelveticaNeue-UltraLight/HelveticaNeue-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-UltraLight/HelveticaNeue-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeue-UltraLight/HelveticaNeue-UltraLight.ttf") format("truetype"), url("../fonts/HelveticaNeue-UltraLight/HelveticaNeue-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "HelvaticaNeue-Light";
    src: url("../fonts/HelvaticaNeue-Light/HelvaticaNeue-Light.eot");
    src: url("../fonts/HelvaticaNeue-Light/HelvaticaNeue-Light.otf") format("opentype");
    src: url("../fonts/HelvaticaNeue-Light/HelvaticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelvaticaNeue-Light/HelvaticaNeue-Light.woff") format("woff"), url("../fonts/HelvaticaNeue-Light/HelvaticaNeue-Light.ttf") format("truetype"), url("../fonts/HelvaticaNeue-Light/HelvaticaNeue-Light.otf") format("opentype");
}

@font-face {
    font-family: 'bkant';
    src: url("../fonts/bkant/bkant.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/bkant/bkant.eot?#iefix") format("embedded-opentype"), url("../fonts/bkant/bkant.woff") format("woff"), url("../fonts/bkant/bkant.ttf") format("truetype"), url("../fonts/bkant/bkant.otf") format("opentype"), url("../fonts/bkant/bkant.svg#BookAntiqua") format("svg");

    /* Legacy iOS */
}