/* -------------------- Colors -------------------- */
$red-color: #9c0c23;
$offblue: #dbe3e9;
$white: #ffffff;
$black: #000000;
$off-white: #f5f5f5;
$lightgray: #d3d3d3;
$gray: #303030;
$darkgray: #595857;

/* -------------------- border -------------------- */

$border-gray: border 1px solid #d3d3d3;

/* -------------------- font Size -------------------- */

$font-10: 0.625em;
$font-12: 0.75em;
$font-14: 0.875em;
$font-16: 1em;
$font-18: 1.125em;
$font-20: 1.25em;
$font-22: 1.375em;
$font-24: 1.5em;
$font-25: 1.563em;
$font-26: 1.625em;
$font-28: 1.75em;
$font-30: 1.875em;
$font-32: 2em;
$font-36: 2.25em;
$font-40: 2.5em;
$font-44: 2.75em;
$font-48: 3em;

/* -------------------- padding- margin -------------------- */

$space-0: 0;
$space-5: 5px;
$space-10: 10px;
$space-15: 15px;
$space-20: 20px;
$space-25: 25px;
$space-30: 30px;
$space-35: 35px;
$space-40: 40px;
$space-45: 45px;
$space-50: 50px;
$space-55: 55px;
$space-60: 60px;

/* -------------------- font-family -------------------- */

$bebas: "Bebas", sans-serif;
$arabic: "hacen_saudi_arabia", sans-serif;
$robotolight: "Roboto-Light", sans-serif;
$robotomedium: "Roboto-Medium", sans-serif;
$robotoregular: "Roboto-Regular", sans-serif;
$font-arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, sans-serif;
$opensansitalic: "OpenSans-Italic";
$CaptchaCode: "Captcha-code";
$Raleway: "Raleway-Regular";
$Myriad-reg: "MyriadPro-Regular";

/* --------------------------- text align ---------------------- */
$text-right: right;
$text-left: left;