.back-link {
    padding: 20px 15px;
    border-top: 1px solid $lightgray;
    margin-top: 30px;

    &:before {
        content: "";
        width: 10px;
        height: 10px;

        @include rotate(-45deg);

        display: inline-block;
        border-top: 2px solid $red-color;

        @include border-left($red-color, 2px);

        @include margin-right(5px);
    }
}