.error-container {
    .error-title {
        font-size: $font-48;
        margin-bottom: 0;
        line-height: 1;
        margin-top: 60px;
    }

    .error-desc {
        margin-top: 0;
        font-size: $font-20;
        line-height: 1;
    }

    .error-detail {
        margin-top: 60px;
    }

    .error-back-link, .error-home-link {
        margin-top: 30px;
        display: inline-block;
        margin-bottom: 40px;

        @include margin-right(30px);

        &:hover {
            color: $red-color;
        }

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0px;
        }
    }
}