html {
    font-size: 16px;
}

body {
    font-family: $robotoregular;
    line-height: normal;
    color: $gray;
    font-size: 16px;
}

a {
    color: $gray;
    text-decoration: none;
}

a:hover, a:focus {
    color: $gray;
    text-decoration: none;
    outline: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}

p {
    margin: 10px 0;
    line-height: 1.75;
}

select::-ms-expand {
    display: none;
}

iframe {
    display: block;
}

.container {
    max-width: 1210px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*--- media quiries ---*/
@media (max-width: $screen-xs-max) {
    .container {
        @include padding-left(15px);

        @include padding-right(15px);
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .container {
        width: 96%;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}

@media (min-width: $screen-lg-min) {
    .container {
        width: 1210px;
        max-width: 96%;
    }
}

.hidden-xs-min {
    @media (max-width: $screen-xs-min - 1) {
        display: none;
    }
}

.visible-xs-min {
    @media (max-width: $screen-xs-min - 1) {
        display: inline-block;
    }

    @media (min-width: $screen-xs-min) {
        display: none;
    }
}