header {
    transform: translate3d(0, -100%, 0);
    margin-top: -5px;
    transition: transform 0.25s ease-in-out;
    z-index: 1;
    width: 100%;

    @media (max-width: $screen-xs-max) {
        &.active {
            height: 100%;
            overflow-y: scroll;
        }
    }

    .navContainer {
        font-size: 0;
        background: #fff;
        box-shadow: 0px 0px 5px 1px $lightgray;

        @media (max-width: $screen-xs-max) {
            padding: 0;

            > .container {
                padding: 0;
            }
        }

        .logo-wrapper {
            display: inline-block;
            vertical-align: middle;
            width: 15%;
            padding: 10px 0;

            @media (max-width: $screen-xs-max) {
                width: 80%;
                text-align: center;
                display: table-cell;
            }
        }

        .top-nav {
            @media (min-width: $screen-sm-min) {
                display: inline-block !important;
            }

            vertical-align: middle;
            width: 85%;
            font-size: 16px;
            text-align: $text-right;
            font-family: $font-helveticaLt;

            @media (max-width: $screen-sm-max) {
                font-size: 14px;
            }

            @media (max-width: $screen-xs-max) {
                width: 100%;
                text-align: $text-left;
                background: $offwhite;
                font-size: 20px;
            }

            li {
                display: inline-block;
                transition: all 0.25s ease-in-out;

                > a {
                    color: $lightgray;
                    display: block;
                    padding: 10px 20px;
                    transition: all 0.25s ease-in-out;

                    @media (max-width: $screen-sm-max) {
                        padding: 15px 10px;
                    }

                    span.icon {
                        display: none;

                        @media (max-width: $screen-xs-max) {
                            display: inline-block;
                            width: 40px;
                            height: 25px;
                            background: url(../images/icons/sprite.png);
                            background-repeat: no-repeat;
                            background-position: -12px -8px;
                            vertical-align: middle;
                            transition: all 0.25s ease-in-out;

                            @include margin-right(12px);

                            @include margin-left(12px);
                        }

                        &.why-rossom-icon {
                            background-position-x: -57px;
                        }

                        &.partner-icon {
                            background-position-x: -101px;
                        }

                        &.customer-icon {
                            background-position-x: -140px;
                        }

                        &.news-icon {
                            background-position-x: -180px;
                        }

                        &.number-icon {
                            background-position-x: -216px;
                        }
                    }
                }

                @media (max-width: $screen-xs-max) {
                    border-bottom: 1px solid #d2d2d2;
                }

                &:last-child {
                    > a {
                        @include padding-right(0);
                    }

                    @media (max-width: $screen-sm-max) {
                        border-bottom: 0;
                    }
                }

                @media (max-width: $screen-xs-max) {
                    width: 100%;
                }

                &:hover, &.active {
                    > a {
                        color: $red-color;
                    }

                    @media (max-width: $screen-xs-max) {
                        background: $red-color;

                        > a {
                            color: $white;
                        }
                    }

                    span.icon {
                        background-position-y: -46px;
                    }
                }
            }

            @media (max-width: $screen-xs-max) {
                display: none;

                &.active {
                    display: block;
                }
            }

            &:focus {
                outline: 0;
            }
        }

        .mobile-menu-btn {
            display: none;

            @media (max-width: $screen-xs-max) {
                display: table-cell;
                width: 3%;

                @include padding-left(10px);

                @include padding-right(10px);

                text-align: center;
                font-size: 40px;
                color: $lightgray;
                vertical-align: middle;

                &.active {
                    background: $offwhite;
                }
            }

            &.active {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: #000;
                    opacity: 0.3;
                    top: 0;

                    @include left(0);

                    z-index: -1;
                }
            }
        }
    }

    &.fixed {
        transform: translate3d(0, 0, 0);
        margin-top: 0;
		opacity: 0.9;
    }
}