@font-face {
    font-family: 'Bebas';
    src: url("../fonts/Bebas/Bebas.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Bebas/Bebas.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas/Bebas.woff") format("woff"), url("../fonts/Bebas/Bebas.ttf") format("truetype"), url("../fonts/Bebas/Bebas.otf") format("opentype"), url("../fonts/Bebas/Bebas.svg#Bebas") format("svg");

    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hacen_saudi_arabia';
    src: url("../fonts/hacen_saudi_arabia/hacen_saudi_arabia.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/hacen_saudi_arabia/hacen_saudi_arabia.eot?#iefix") format("embedded-opentype"), url("../fonts/hacen_saudi_arabia/hacen_saudi_arabia.woff") format("woff"), url("../fonts/hacen_saudi_arabia/hacen_saudi_arabia.ttf") format("truetype"), url("../fonts/hacen_saudi_arabia/hacen_saudi_arabia.otf") format("opentype"), url("../fonts/hacen_saudi_arabia/hacen_saudi_arabia.svg#HacenSaudiArabia") format("svg");

    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light/Roboto-Light.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light/Roboto-Light.otf") format("opentype"), url("../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg");

    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../fonts/Roboto-Medium/Roboto-Medium.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium/Roboto-Medium.otf") format("opentype"), url("../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium") format("svg");

    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.otf") format("opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular") format("svg");

    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Captcha-code';
    src: url("../fonts/Captcha-code/Moms_typewriter.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Captcha-code/Moms_typewriter.eot?#iefix") format("embedded-opentype"), url("../fonts/Captcha-code/Moms_typewriter.woff") format("woff"), url("../fonts/Captcha-code/Moms_typewriter.ttf") format("truetype"), url("../fonts/Captcha-code/Moms_typewriter.svg#momstypewriterregular") format("svg");

    /* Legacy iOS */
}

@font-face {
    font-family: "flexslider-icon";
    src: url("../fonts/flexslider-icon/flexslider-icon.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/flexslider-icon/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon/flexslider-icon.svg#flexslider-icon") format("svg");

    /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url("../fonts/Raleway-Regular/Raleway-Regular.eot");

    /* IE9 Compat Modes */
    src: url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular/Raleway-Regular.otf") format("opentype"), url("../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway") format("svg");

    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}